@mixin menu_pink() {
    padding-left: 32px !important;
    padding-top: 20px !important;
    padding-bottom: 12px !important;
    color: #F16D7F !important;
    font-family: Lato !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}