@mixin menu_pink() {
    padding-left: 32px;
    padding-top: 20px;
    padding-bottom: 12;
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}