* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.menu {
  height: 75px;
  flex-shrink: 0;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
}
.menu_left {
  display: flex;
  justify-content: flex-start;
  gap: 41px;
  align-items: flex-end;
  padding-left: 14%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.menu_right {
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
  gap: 25px;
  align-items: center;
}
.menu_black {
  padding-left: 33px !important;
  padding-bottom: 24px !important;
  color: #000 !important;
  font-family: Lato !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 900 !important;
  line-height: normal !important;
}

.pink_men {
  padding-left: 32px !important;
  padding-top: 20px !important;
  padding-bottom: 12px !important;
  color: #F16D7F !important;
  font-family: Lato !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.pink_women {
  padding-left: 32px !important;
  padding-top: 20px !important;
  padding-bottom: 12px !important;
  color: #F16D7F !important;
  font-family: Lato !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.pink_kids {
  padding-left: 32px !important;
  padding-top: 20px !important;
  padding-bottom: 12px !important;
  color: #F16D7F !important;
  font-family: Lato !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.i {
  padding-left: 33.5px !important;
}

.b_3 {
  position: relative;
  padding-left: 17px;
}
.b_3::after {
  border-radius: 25px;
  position: absolute;
  right: -15px;
  bottom: 20px;
  width: 15px;
  height: 20px;
  display: flex;
  justify-content: center;
  content: "5";
  color: white;
  background-color: #F26376;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 148px;
  background-color: #F8F3F4;
}
.top_left {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 14%;
  display: flex;
  justify-content: flex-start;
}
.top_right {
  padding-top: 65px;
  padding-bottom: 65px;
  padding-right: 14%;
  display: flex;
  justify-content: flex-end;
}

.new_arrivals {
  text-decoration: none;
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top_right_first {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.top_right_second {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.carousel {
  display: flex;
  flex-direction: column;
  height: 777px;
}

.arrow_right {
  padding-left: 45%;
  padding-bottom: 4%;
}
.arrow_left {
  padding-right: 1%;
}

.carousel-control-prev-icon {
  background-image: none !important;
}

.carousel-control-next-icon {
  background-image: none !important;
}

section {
  border: 0.3px solid gray;
  margin-right: 14%;
  margin-left: 14%;
  height: 601px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.title {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 65px;
  padding-bottom: 12px;
}

.devider {
  padding-bottom: 12px;
}

.subtitle {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 48px;
}

.text {
  color: #5E5E5E;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 32px;
}

.price {
  color: #EF5B70;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 65px;
}

.span_row {
  display: flex;
  flex-direction: row;
  gap: 23px;
  padding-bottom: 48px;
}
.span_text {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.span_img {
  padding-left: 2px;
}

.add_to_cart {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 212px;
  height: 48.406px;
  border: 1px solid #FF6A6A;
  padding: 15px 39px 15px 39px;
}
.add_to_cart:hover {
  transition: 0.5s;
  scale: 1.2;
}

.text_add_to_cart {
  text-decoration: none;
  align-items: center;
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.vector {
  padding-bottom: 65px;
}

.img_add_to_cart {
  background-color: white;
}

.bot_section {
  display: flex;
  justify-content: center;
}

.cards {
  margin-right: 14%;
  margin-left: 14%;
  padding-top: 129px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 32px;
}

.item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
}

.item:hover .overlay {
  opacity: 1;
  background: rgba(58, 56, 56, 0.86);
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.02);
  background-blend-mode: overlay;
  opacity: 0.5;
}

.add {
  color: white;
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.item_content {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first:after {
  content: "  new!";
  color: rgb(255, 0, 0);
}

.img_item {
  padding-bottom: 24px;
}

.heading_item {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_item {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 18px;
}

.price_item {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img_item2 {
  width: 100%;
  flex-shrink: 0;
  background-image: url(../HW_5/img/);
}

.subscribe_section {
  background-image: url(../HW_5/img/photo\ subscribe.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 12%;
  padding-bottom: 126px;
}

.figure_left {
  display: flex;
  padding-left: 14%;
  padding-right: 20%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img_f_left {
  padding-top: 97px;
  padding-bottom: 30px;
}

.b_p_s {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.s_p_s {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.subs_right {
  padding-top: 150px;
  display: flex;
  padding-right: 14%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.header_subs {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.text_subs {
  display: flex;
  width: 150%;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  padding-bottom: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.input_1 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #E1E1E1;
  opacity: 0.671;
  width: 170px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.button_subs {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  width: 85px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background-color: #F16D7F;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.form_and_button {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.basement {
  background-color: #222224;
  display: flex;
  height: 2%;
  justify-content: space-between;
}

.text_basement {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}

.left_base {
  padding-left: 15%;
  padding-right: 40%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.right_base {
  padding-right: 15%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 7px;
}

.inst {
  height: 28px;
  background-color: #F1E4E6;
  flex-shrink: 0;
}

.red_hover:hover {
  background-color: #F16D7F;
  scale: 0.7;
  transition: 0.5s;
}

::-webkit-input-placeholder {
  text-align: center;
}/*# sourceMappingURL=style.css.map */