* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

.nav {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding-top: 32px;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  margin-top: 24px;
  right: -232px;
  transition: right 0.3s;
}

#burger {
  position: absolute;
  left: -9999090999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: 0;
}

.strips:hover {
  transition: 0.3s ease;
  scale: 1.2;
}
.strips:hover path {
  fill: #EF5B70;
}

.login:hover {
  transition: 0.3s ease;
  scale: 1.2;
}
.login:hover path {
  fill: #EF5B70;
}

.basket_logo:hover {
  transition: 0.3s ease;
  scale: 1.2;
}
.basket_logo:hover path {
  fill: #EF5B70;
}

.menu {
  position: relative;
  height: 75px;
  flex-shrink: 0;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
}
.menu_left {
  display: flex;
  justify-content: flex-start;
  gap: 41px;
  align-items: flex-end;
  padding-left: 14%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.menu_left_logo_1:hover {
  transition: 0.3s ease;
  scale: 1.2;
}
.menu_left_loop:hover {
  transition: 0.3s ease;
  scale: 1.2;
}
.menu_left_loop:hover path {
  fill: #EF5B70;
}
.menu_right {
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
  gap: 25px;
  align-items: center;
}

.menu_black {
  padding-left: 34px;
  padding-bottom: 24px;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pink_men {
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 12;
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pink_women {
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 12;
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pink_kids {
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 12;
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-menu {
  display: flex;
  gap: 11px;
  flex-direction: column;
}

.dropdown-item:hover {
  color: #F16D7F;
}

.i {
  padding-left: 54px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.b_3 {
  position: relative;
  padding-left: 17px;
}
.b_3::after {
  border-radius: 25px;
  position: absolute;
  right: -15px;
  bottom: 20px;
  width: 15px;
  height: 20px;
  display: flex;
  justify-content: center;
  content: "5";
  color: white;
  background-color: #F26376;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 148px;
  background-color: #F8F3F4;
}
.top_left {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 14%;
  display: flex;
  justify-content: flex-start;
}

.shopping_card_text {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shopping_card_text:hover {
  scale: 1.2;
  transition: 0.3s;
}

.main_area {
  display: flex;
}
.main_area_right {
  padding-top: 96px;
  padding-left: 130px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main_area_left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  padding-left: 129px;
}
.main_area_left_input_field {
  padding-top: 113px;
  display: flex;
  gap: 21px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: row;
  width: 652px;
  height: 300px;
  flex-shrink: 0;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.card_content {
  padding-right: 97px;
  padding-left: 31px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card_title_field {
  display: flex;
  align-items: baseline;
}
.card_title {
  padding-bottom: 42px;
  color: #222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_escape {
  position: relative;
  left: 57px;
}
.card_price_field {
  display: flex;
  gap: 5px;
}
.card_price_text {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_color_fied {
  display: flex;
  gap: 5px;
}
.card_color_text {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_color {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_size_field {
  display: flex;
  gap: 5px;
}
.card_size_text {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_size {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_quantity_field {
  display: flex;
  gap: 5px;
}
.card_input_number_text {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_number {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.crest:hover {
  transition: 0.4s;
  scale: 1.4;
}
.crest:hover path {
  fill: #EF5B70;
}

#input_1 {
  width: 61px;
  height: 24.949px;
  flex-shrink: 0;
}

#input_0 {
  width: 61px;
  height: 24.949px;
  flex-shrink: 0;
}

input {
  padding: 0 16px;
}

#ph {
  color: #222;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 358.986px;
  height: 44px;
  flex-shrink: 0;
}

#ph_2 {
  color: #222;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 358.986px;
  height: 44px;
  flex-shrink: 0;
}

#ph_1 {
  opacity: 0.5;
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 358.986px;
  height: 44px;
  flex-shrink: 0;
}

.quote {
  width: 101.408px;
  height: 35px;
  flex-shrink: 0;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: white;
  border: 1px solid gray;
}
.quote:hover:hover {
  transition: 0.3s ease-in;
  scale: 1.1;
  background-color: #F16D7F;
}

.order_card {
  display: flex;
  margin-top: 57px;
  width: 360px;
  height: 214px;
  flex-shrink: 0;
  background-color: #F5F3F3;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.order_card_price_top_field {
  padding-top: 39px;
  padding-bottom: 12px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.order_card_price_top_text {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order_card_price_top {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order_card_price_bot_field {
  padding-bottom: 21px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.order_card_price_bot_text {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.order_card_price_bot {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.order_card_button_box {
  width: 273px;
  height: 50px;
  flex-shrink: 0;
  background-color: #F16D7F;
  display: flex;
  justify-content: center;
}
.order_card_button_box:hover {
  transition: 0.3s ease-in;
  scale: 1.1;
}
.order_card_final_button {
  border: none;
  background-color: #F16D7F;
}
.order_card_final_button_text {
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  align-items: center;
}
.order_card_devider {
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
}

.main_bot_buttons {
  display: flex;
  gap: 192px;
  flex-direction: row;
  align-content: center;
  padding-left: 230px;
  padding-bottom: 128px;
}
.main_bot_buttons_example {
  border: 1px solid gray;
  width: 225px;
  height: 50px;
  flex-shrink: 0;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #fff;
}
.main_bot_buttons_example:hover {
  transition: 0.3s ease-in;
  scale: 1.1;
  background-color: #F16D7F;
}

.subscribe_section {
  background-image: url(../HW_5/img/photo\ subscribe.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 12%;
  padding-bottom: 126px;
}

.figure_left {
  display: flex;
  padding-left: 14%;
  padding-right: 20%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img_f_left {
  padding-top: 97px;
  padding-bottom: 30px;
}

.b_p_s {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.s_p_s {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.subs_right {
  padding-top: 150px;
  display: flex;
  padding-right: 14%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.header_subs {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.text_subs {
  display: flex;
  width: 150%;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  padding-bottom: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.input_1 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #E1E1E1;
  opacity: 0.671;
  width: 170px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.button_subs {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  width: 85px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background-color: #F16D7F;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.button_subs:hover {
  transition: 0.3s ease-in;
  scale: 1.1;
}

.form_and_button {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.basement {
  background-color: #222224;
  display: flex;
  height: 2%;
  justify-content: space-between;
}

.text_basement {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}

.left_base {
  padding-left: 15%;
  padding-right: 40%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.right_base {
  padding-right: 15%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 7px;
}

.twitter:hover:hover {
  transition: 0.3s ease-in;
  scale: 1.2;
}

.pinterest:hover {
  transition: 0.3s ease-in;
  scale: 1.2;
}/*# sourceMappingURL=style.css.map */